{% extends "base.html" %}

{% block head %}
<head>
    <title>Меню</title>
</head>
{% endblock %}

{% block content %}
<body>
<div class="container-fluid">
    <form class="form" method="POST" action="/menu/">
        {% csrf_token %}
        <h5>Выберите, что хотите сделать</h5>
        <div class="radio">
            <label>
                <!--НЕОБХОДИМО, ЧТОБЫ У ДВУХ ПЕРЕКЛЮЧАТЕЛЕЙ БЫЛО ОДНО НАЗВАНИЕ ГРУППЫ, ТОГДА ОНИ БУДУТ ВКЛЮЧАТЬСЯ ПООЧЕРЕДИ, А НЕ ВМЕСТЕ-->
                <input type="radio" value="option1" id="option1" name="group" checked>
                Обработать видео 1 
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" value="option2" id="option2" name="group">
                Обработать видео 2 
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" value="option3" id="option3" name="group">
                Обработать видео с веб-камеры 
            </label>
        </div>
        <br>
        <label class="control-label"> Хотите ли вы обнаруживать маски на изображении?</label>
        <div class="radio">
            <label>
                <input type="radio" value="option2_1" id="option2_1" name="group2">
                Да
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" value="option2_2" id="option2_2" name="group2">
                Нет
            </label>
        </div>

        <br>
        <div>
            <input class="btn btn-primary" type="submit" value="Подтвердить">
        </div>
    </form>
    <br>
    <hr>
    <div class="btn btn-group">
        <a href="/index/">
            <div class="btn btn-link btn-sm">Домашняя страница</div>
        </a>
        <a href="/logout/">
            <div class="btn btn-link btn-sm">Выйти</div>
        </a>
    </div>

</div>


</body>
{% endblock %}